body {
    background: linear-gradient(to left bottom, #A8BEE3, #ececec, #4d4c4c);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 16px;
    background-color: #ff2e27;
    border-radius: 3px;
}

h1 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 40%;
    border-radius: 9px;
}

.photos {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.photos .imagee {
    width: 30%;
}

.photos .imagee img {
    width: 100%;
    border-radius: 8px;
}




.gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.gallery .image {
    width: 30%;
}

.gallery .image img {
    width: 100%;
    border-radius: 8px;
}